body {
	padding-top: 70px;
}

.done {
	text-decoration: line-through;
}

#top-link-block {
	z-index: 10;
}

#top-link-block.affix-top {
    position: absolute;
    bottom: -82px;
    left: 10px;
}

#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    left: 10px;
}

.form-group {
	margin-bottom: 5px;
}

.form-group:last-of-type {
	margin-bottom: auto;
}

.footer {
	color: #ccc;
}

ul[dnd-list], ul[dnd-list] > li {
	position: relative;
}

ul[dnd-list] {
	padding-left: 0px;
}

ul[dnd-list] .dndDraggingSource {
	display: none;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #f5f5f5;
	border-top: 1px solid #ddd;
    min-height: 56px;
}
